$font-base-size: 0.833rem;
$font-badge-size: calculateRem(10px);
$font-family-heading: "Lato" !default;
$font-family-body: "Rubik" !default;
$font-heading-weight: 700 !default;
$font-body-weight: 300 !default;

$backgroundColor: #f9f9f9 !default;
$color: #ba88ce !default;
$main-width: 960px !default;
$main-padding: 25px 50px !default;
$heading-margin-bottom: 16px !default;
$text-line-height: 18px !default;
$section-item-margin-bottom: $heading-margin-bottom !default;

$breakpoint-tablet: 768px;
$breakpoint-phone: 411px;